<lib-page-layout [imageInformation]="signatureImage" [addPadding]="true">
    <div class="application-letter">
        <div class="application-letter__header">
            <div class="application-letter__header__text">
                {{ salutation }}
            </div>
            <div class="application-letter__header__logo">
                <img [src]="logo.path" [alt]="logo.altText">
            </div>
        </div>
        <div class="application-letter__content" [innerHTML]="content"></div>
        <div class="application-letter__closing">
            <div class="application-letter__closing--greeting">{{ greeting }}</div>
            <div class="application-letter__closing--date">{{ date | date:'dd.MM.yyyy' }}</div>
        </div>
    </div>
</lib-page-layout>