<lib-page-layout [imageInformation]="signatureImage" [addPadding]="true">
    @switch(uiIntroductionState()){
    @case('loading') {
    <app-loading-spinner></app-loading-spinner>
    }
    @case('error') {
    <app-error-response-message [error]="errorService.error()!"></app-error-response-message>
    }
    @case('ready') {
    <ng-container [ngTemplateOutlet]="content"
        [ngTemplateOutletContext]="{ content: dataService.introduction()! }"></ng-container>
    }
    }
</lib-page-layout>

<ng-template #content let-content="content">
    <div class="application-letter">
        <div class="application-letter__header">
        </div>
        <div class="application-letter__content" [innerHTML]="content.content | getFormattedContent"></div>
    </div>
</ng-template>