:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contact-container {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    gap: .5rem;

    &__entry {
        display: flex;
        gap: 1rem;
        align-items: center;

        span {
            word-break: normal;
        }
    }
}