<lib-page-layout [imageInformation]="signatureImage">
    @if(data()){
    <div class="contact-container">
        <div class="contact-container__row">
            <div class="contact-container__key" i18n="@@contact.name">Name</div>
            <div class="contact-container__value" [innerHTML]="data()!.name | getCompleteName"></div>
        </div>
        <div class="contact-container__row">
            <div class="contact-container__key" i18n="@@contact.bornDate">Geburtsdatum</div>
            <div class="contact-container__value">{{ data()!.birthDate | date:'dd.MM.yyyy' }}</div>
        </div>
        <div class="contact-container__row">
            <div class="contact-container__key" i18n="@@contact.address">Adresse</div>
            <div class="contact-container__value" [innerHTML]="data()!.address"></div>
        </div>
        <div class="contact-container__row">
            <div class="contact-container__key" i18n="@@contact.eMail">E-Mail</div>
            <div class="contact-container__value">{{ data()!.eMail }}</div>
        </div>
        <div class="contact-container__row">
            <div class="contact-container__key" i18n="@@contact.mobile">Telefonnummer</div>
            <div class="contact-container__value">{{ data()!.phone }}</div>
        </div>
        <div class="contact-container__row">
            <div class="contact-container__key" i18n="@@contact.materialStatus">Familienstand</div>
            <div class="contact-container__value">{{ data()!.materialStatus | useCorrectLanguage }}</div>
        </div>
        <div class="contact-container__row">
            <div class="contact-container__key" i18n="@@contact.nationality">Nationalität</div>
            <div class="contact-container__value">{{ data()!.nationality | useCorrectLanguage }}</div>
        </div>
    </div>
    }
    @else {
    <app-loading-spinner></app-loading-spinner>
    }
</lib-page-layout>