
$content-background: rgba(216, 117, 77, 0.1);
$hover-background: rgba(216, 117, 77, 0.1);
$default-font-color: rgb(40, 40, 40);
$active-font-color: rgb(216, 117, 77);

.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    color: $default-font-color;

    &__header {
        height: 4rem;

        & .page-layout-container__content {
            justify-content: flex-end !important;
        }

        &__tabs {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: .5rem;

            &__tab {
                padding: 1rem;
                white-space: nowrap;
            }

            &__tab:not(.active) {
                cursor: pointer;

                &:hover {
                    background-color: $hover-background;
                    border-radius: 15rem;
                }
            }

            &__tab.active {
                color: $active-font-color;
                font-weight: 600;
                cursor: default;
            }
        }
    }

    &__body {
        flex: 1;
        max-height: 80vh;
        background-color: $content-background;
    }
}
