@use '@angular/material' as mat;

$my-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      density: (scale: 0)));

html {
  @include mat.theme($my-theme);
  @include mat.menu-overrides((container-color: #ffffff,
      item-hover-state-layer-color: #8ac68a50,
    ));
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}